  <% content_for :page_title do %>
    <%= t(:editing_user) %>
  <% end %>

  <% content_for :page_actions do %>
    <li>
      <%= button_link_to t(:back_to_users_list), spree.admin_users_path, :icon => 'icon-arrow-left' %>
    </li>
  <% end %>

  <fieldset data-hook="admin_user_edit_general_settings" class="alpha ten columns">
<legend><%= t(:general_settings) %></legend>

    <div data-hook="admin_user_edit_form_header">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
    </div>

    <div data-hook="admin_user_edit_form">
      <%= form_for [:admin, @user] do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>

        <div data-hook="admin_user_edit_form_button">
          <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
        </div>
      <% end %>
    </div>

  </fieldset><fieldset data-hook="admin_user_api_key" class="omega six columns">
<legend><%= t('access', :scope => 'spree.api') %></legend>

  <% if @user.spree_api_key.present? %>
    <div class="field">
      <%= label_tag t('key', :scope => 'spree.api') %>:
      <%= @user.spree_api_key %>
    </div>
    <div class="filter-actions actions">
      <%= form_tag spree.clear_api_key_admin_user_path(@user), :method => :put do %>
        <%= button t('clear_key', :scope => 'spree.api'), 'icon-trash' %>
      <% end %>

      <span class="or"><%= t(:or)%></span>
    
      <%= form_tag spree.generate_api_key_admin_user_path(@user), :method => :put do %>
        <%= button t('regenerate_key', :scope => 'spree.api'), 'icon-refresh' %>
      <% end %>      
    </div>    

  <% else %>

    <div class="no-objects-found"><%= t('no_key', :scope => 'spree.api') %></div>

    <div class="filter-actions actions">
      <%= form_tag spree.generate_api_key_admin_user_path(@user), :method => :put do %>
        <%= button t('generate_key', :scope => 'spree.api'), 'icon-key' %>
      <% end %>
    </div>    
  <% end %>

</fieldset>