<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div class="columns six alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>

      <div data-hook="product_properties">
        <%= render :partial => 'properties' %>
      </div>
<div id="social_nav">
  <h6><%= t(:bookmark_or_share_this) %></h6>
  <ul>
<% if Spree::Config.twitter_button %>
      <li class="twitter">
        <%= render :partial => 'spree/social/twitter' %>
      </li>
    <% end %>
    <% if Spree::Config.pinterest_button %>
      <li class="pinterest">
        <%= render :partial => 'spree/social/pinterest' %>
      </li>
    <% end %>
    <% if Spree::Config.reddit_button %>
      <li class="reddit">
        <%= render :partial => 'spree/social/reddit' %>
      </li>
    <% end %>
    <% if Spree::Config.tumblr_button %>
      <li class="tumblr">
        <%= render :partial => 'spree/social/tumblr' %>
      </li>
    <% end %>
    <% if Spree::Config.delicious_button %>
      <li class="delicious">
        <%= render :partial => 'spree/social/delicious' %>
      </li>
    <% end %>
    <% if Spree::Config.gplus_button %>
      <li class="gplus">
        <%= render :partial => 'spree/social/gplus' %>
      </li>
    <% end %>
  </ul>
<ul class="facebook-like-button">
<% if Spree::Config.facebook_button %>
      <li class="facebook">
        <%= render :partial => 'spree/social/facebook' %>
      </li>
    <% end %>
  </ul>
</div>
<% promotions = @product.possible_promotions %>
<% if promotions.any? %>
<div id="promotions">
  <h3><%= t(:promotions) %></h3>

  <% promotions.each do |promotion| %>
  <div>
    <h4><%= promotion.name %></h4>
    <p><%= promotion.description %></p>
    <% if promotion.products.any? %>
    <ul>
<% promotion.products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
<% end %>
  </div>
  <% end %>

</div>
<% end %>
    
    </div>
  </div>

  <div class="columns ten omega" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="cart-form" data-hook="cart_form">
          <%= render :partial => 'cart_form' %>
        </div>
<div id="product-description" data-hook="product_description">

        
<% content_for :subheader do %>
  <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
<% end %>

        <div itemprop="description" data-hook="description">
          <%= product_description(@product) rescue t(:product_has_no_description) %>
        </div>

        

      </div>
<% if get_recently_viewed_products.any? %>
  <div id="recently_viewed" data-hook>
    <h6 class="product-section-title"><%= t(:recently_viewed_products) %></h6>
    <ul id="recently_viewed_products">
<% get_recently_viewed_products.each do |p| %>
        <li><%= link_to p.name, p %></li>
      <% end -%>
    </ul>
</div>
<% end %><div id="reviews">
  <h6 class="product-section-title"><%= t(:reviews) %></h6>
  <% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @product.reviews.approved.count == 0 %>
    <p class="reviews-none"><%=t('no_reviews_available')%></p>
  <% else %>
    <%= render :partial => 'spree/shared/rating', :locals => {:product => @product, :review => 0} %>
    <% for review in (Spree::Reviews::Config[:track_locale] ? @product.reviews.localized(I18n.locale) : @product.reviews).approval_filter %>
      <%= render :partial => 'spree/shared/review', :locals => {:review => review} %>
    <% end %>
  <% end %>
  <% if !Spree::Reviews::Config[:require_login] || spree_current_user || Spree::Reviews::Config[:always_show_create] %>
    <%= link_to t('write_your_own_review'), new_product_review_path(@product), :class => "button",
                :rel => "nofollow,noindex" %>
  <% end %>
</div>

      <%= render :partial => 'taxons' %>

    </div>
  </div>

</div>