<div id="forgot-password">
  
<% unless current_page?(checkout_registration_path) %>
  <% content_for :subheader do %>
    <h1><%= t(:forgot_password) %></h1>
  <% end %>
<% end %>

  <p><%= t(:instructions_to_reset_password) %></p>

  <%= form_for Spree::User.new, :as => :user, :url => spree.user_password_path do |f| %>
    <p>
      <%= f.label :email, t(:email) %><br><%= f.email_field :email %>
    </p>
    <p>
      <%= f.submit t(:reset_password), :class => 'button primary' %>
    </p>
  <% end %>
</div>