<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
<ul id="products" class="inline product-listing" data-hook>
<% products.each do |product| %>
    <% if product.on_display? %>
      <li id="product_<%= product.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product" class='columns four <%= cycle("alpha", "secondary", "omega", :name => "classes") %>'>
        <div class="product-image">
          
<%= link_to product_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
        </div>
        <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
        <span class="price selling" itemprop="price"><%= product.price_in(current_currency).display_price %></span>
      </li>
    <% end %>
  <% end %>
  <% reset_cycle("classes") %>
</ul><% if get_recently_viewed_products.any? %>
  <div id="recently_viewed" data-hook>
    <h6 class="product-section-title"><%= t(:recently_viewed_products) %></h6>
    <ul id="recently_viewed_products">
<% get_recently_viewed_products.each do |p| %>
        <li><%= link_to p.name, p %></li>
      <% end -%>
    </ul>
</div>
<% end %><% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>